.dashPage{
    display: flex;
    justify-content: center;
    /* padding-left: 250px; */
    padding-right: 30px;
    margin-bottom: 20px;
    height: fit-content;
}

.dashPage-holders{
    display: flex;
    flex-direction: row;
}

.DasH{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.column{
    display: flex;
    justify-content: center;
}

.column.one{
    display: flex;
    flex-direction: column;
    min-width: 440px;
    margin-left: 10px;
    align-items: center;
}

.column.two{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-right: 25px;
}

.column.three{
    min-height: 910px;
    margin-top: 120px;
}

@media screen and (max-width: 1700px) {
    .dashPage{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
    }
    .column.three{
        margin-top:0px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1230px) {
    .dashPage{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        
    }
    .column.three{
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 700px) {
    .dashPage{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .column.one{
        margin-bottom: 40px;
    }

    .column.three{
        margin-top: 200px;
    }
}