.layout-holder{
    width: 370px;
    height: 375px;
    box-shadow: 4px 1px 40px 2px rgb(197, 189, 189);
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout-holder .title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    height: 60px;
}

.layout-option-holder{
    display: flex;
    flex-direction: column;
    margin-left: 125px;
}

.radio-button{
    display: flex;
    flex-direction: row;
}

.radio-button label{
    position: relative;
    top: 10px;
    padding-left: 20px;

}

.change-button{
    position: relative;
    left: -45px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    font-size: 17px;
    font-weight: 300;
    border: none;
    background: rgb(139, 101, 230);
    color: white;
    border-radius: 10px;

}