.layout-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.layout-page button {
	border: none;
	color: white;
	background-color: rgb(168, 99, 247);
	width: 200px;
	height: 50px;
	border-radius: 0.5em;
	transition: all 0.2s ease;
}

.layout-page button:hover {
	filter: brightness(90%);
}

.cards-holder {
	display: flex;
	margin-bottom: 70px;
}

.layout-holder {
	width: 400px;
	height: 250px;
	margin: 10px 20px;
	/* background-color: #2f2f2f; */
	/* color: white; */

	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 2px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.2s ease;

	box-shadow: 0px 0px 10px grey;
}

.layout-holder.vertical {
	width: 400px;
	height: 300px;
}

.layout-holder.hoverable:hover {
	border: 2px solid rgb(168, 99, 247);
}

.layout-holder.selected {
	border: 2px solid rgb(168, 99, 247);
}

.layout-image.horiz {
	width: 300px;
}

.layout-image.vert {
	height: 250px;
}

.layout-text {
	padding-top: 10px;
}

@media screen and (max-width: 1200px) {
	.cards-holder {
		flex-direction: column;
	}
}
