.holder {
	display: flex;
	flex-direction: row;
	margin-left: 33%;
	margin-right: 33%;
}

.widget{
	display: flex;
	position: relative;
	top: 40px;
}



.weather {
	margin-top: 100px;
	background: linear-gradient(to top, rgb(124, 124, 212), rgba(151, 128, 232, 0.75));
	display: flex;
	color: white;
	border-radius: 45px;
	flex-direction: column;
	width: 320px;
	height: 195px;
	padding-bottom: 20px;
}

.weather.widget{
	margin-top: 0px;
	margin-bottom: 100px;
}

.cityName {
	margin: 20px;
	margin-top: 0px;
	padding-bottom: 5px;
	height: 20px;
	position: relative;
	top: -30px;
	font-weight: 800;
	font-size: 20px;
	/* background: linear-gradient(to left, rgb(41, 113, 246), rgb(121, 88, 250));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: white;
}

.cityName.widget{
	margin-top: 40px;
	margin-bottom: 0px;
}

.tempInfo {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	height: 90px;
	text-align: center;
}

.temp {
	margin-top: 20px;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: 600;
}

.moreInfo {
	display: flex;
	flex-direction: column;
	padding: none;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	margin-bottom: 10px;
	width: 90px;
}

.noLocation {
	padding-left: 20px;
	font-size: 25px;
	position: relative;
	top: -30px;
	margin: 0px;
}

.minMax {
	margin-top: 40px;
	padding-top: 10px;
	margin-bottom: 10px;
	width: 200px;
	height: 100px;
}


.GetUserLocation {
	width: 400px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: rgb(175, 172, 169);
	background: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 4px 1px 40px 2px rgb(197, 189, 189);
	justify-content: center;
}

.location-form input {
	box-shadow: none;
	width: 200px;
	height: 40px;
	border: none;
	outline: none;
}

.location-form {
	margin-top: 20px;
	width: 400px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.location-form .locationInput {
	background: rgb(255, 254, 254);
	align-self: center;
	width: 200px;
	height: 40px;
	margin-bottom: 0px;
	position: relative;
	left: 85px;
	border: 1px solid rgb(206, 203, 203);
}

.weather-label {
	width: 350px;
	overflow: hidden;
	align-self: center;
	color: rgb(109, 112, 177);
	font-size: 24px;
}

.GetUserLocation button {
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.or {
	align-self: center;
	margin-bottom: 15px;
}

.locationSubmit:hover {
	background: rgb(138, 85, 191);
}

.GetUserLocation h2 {
	align-self: center;
}

.locationSubmit {
	/* background: linear-gradient(to left, rgb(103, 35, 170), rgb(199, 111, 234)); */
	background: rgb(163, 102, 224);
	height: 50px;
	width: 200px;
	position: relative;
	left: 100px;

	
}

.weather.noloc{
	margin-bottom: 120px;
	margin-top: 60px;
}

.Dummy {
	align-self: center;
	width: 275px;
	height: 40px;
	background: rgb(166, 119, 233);
	cursor: pointer;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 14px;
	margin-bottom: 30px;
}

.Dummy:hover {
	background: rgb(138, 98, 192);
}

.wrong {
	margin-top: 30px;
	font-weight: 500;
	color: red;
	display: none;
	transition: all 2s ease;
	margin-left: 100px;
}

.disclaimer {
	margin-bottom: 30px;
}

.main {
	left: 0;
  }
  
  div.weather {
	align-self: flex-start;
	background: white;
	display: flex;
	color: rgb(110, 113, 126);
	border-radius: 1rem;
	flex-direction: column;
	min-height: 200px;
	height: 220px;
	min-width: 250px;
	padding: 10px;
	max-width: 270px;
	margin-right: 0px;
	padding-right: 0px;
	margin: 0px 0px 0px 0px;
	padding: 25px 25px 25px 25px;
	align-self: center;
  }
  
  .moreInfo img{
	border-radius: 20%;
	background: rgb(208, 221, 252);
  
  }
  
  .cityName {
	color: rgb(48, 99, 216);
	font-size: 22.5px;
	font-weight: 300;
	width: 220px;
	height: 10%;
  }
  
  .tempInfo {
	display: flex;
	flex-direction: row;
	margin: 0px 0px 0px 0px;
	font-weight: 300;
	padding: 0px 0px 0px 0px;
	height: 100%;
	width: 100%;
	text-align: center;
  }
  
  div.weather #des{
	color: rgb(92, 111, 219);
	font-weight: 400;
	margin-top: 0;
	text-align: center;
  }
  
  .temp {
	color: black;
	text-align: center;
	font-size: 70px;
	font-weight: 300;
	margin: 0px 0px 0px 0px;
  
  }
  
  .moreInfo {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-end;
  }
  
  .moreInfo img{
	min-height: 75px;
	min-width: 75px;
	margin-bottom: 20px;
  }
  
  .noLocation {
	font-size: 30px;
	margin-top: 20px;
  }
  
  .minMax {
	margin-bottom: 10px;
  }
  
  .cityInput {
	box-shadow: none;
	height: 2.5vh;
	width: 78%;
	margin-top: 2vh;
	border-radius: 0.3rem;
	font-size: 2vh;
  }
  
  .noloc {
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 0;
  }
  

 .housing-weather{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 620px;
	padding-bottom: 0px ;
	margin-bottom: 0px;
 }

 .subHolder{
	padding-bottom: 0px ;
	margin-bottom: 0px;
 }



.weather-search-bar{
	/* padding-top: 10px; */
	/* padding-left: 10px;
	padding-right: 10px; */
	box-shadow: 4px 1px 40px 2px rgb(214, 212, 212);
	background: white;
	display: flex;
	flex-direction: column;
	width:400px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.search-item{
	width:400px;
	min-height: 40px;
	border-style: none;
	font-size: 13px;
	background: rgb(237, 229, 251);
	cursor: pointer;
	color: rgb(157, 96, 237)
	
}

.bi.bi-search{
	font-size: 20px;
	padding: 7px;
	position: relative;
	top:2px;
	cursor: pointer	;
	color:white;
	font-weight:bolder;
	border-radius: 10px;
	background: rgb(194, 143, 235);
	
}

.bi.bi-search:hover{
	background: rgb(177, 99, 241);
}

.search-item:hover{
	background: rgb(223, 210, 247);
}

.search-item.error{
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}

.search-item.error:hover{
	background: rgb(237, 229, 251);
}
.search-bar-results{
	width: 400px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	background: rgb(222, 199, 241);
	align-items: center;
	flex-direction: column;
	/* margin-bottom: 10px; */
}

.locationInput.search{
	width: 330px;
	text-decoration: none;
	height: 50px;
	border: none;
	box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	/* font-family: bootstrap-icons; */
	margin-right: 10px;
	border-radius: 10px 10px 10px 10px;
	/* border-bottom: 2px solid rgb(238, 233, 233) */
}

.weather-search-bar-box{
	padding-left: 20px;
}
.locationInput.search:focus{
	outline: none;
}

.weather-widget-holder-housing{
	justify-content: center;
	position: relative;
	height: 620px;
	align-items: center;
	text-align: center;
	margin-right: 50px;
}

.weather-location-holder-housing{
	justify-content: center;
	align-items: center;
	position: sticky;
	top:0px;
	height: 620px;
	margin-left: 50px;
	text-align: center;
}

.weather-widget-holder-housing h1{
	text-align: center;
	color: black;
	margin-bottom: 20px;
}

.weather-location-holder-housing h1{
	text-align: center;
	position: relative;
	color: black;
	margin-bottom: 40px;
}

 @media screen and (max-width: 1200px) {
	.housing-weather{
		flex-direction: column;
		
	}

	.weather-location-holder-housing{
		margin-left: 0px;
	}
	.weather-widget-holder-housing{
		margin-right: 0px;
	}
 }
 

 @media screen and (max-width: 750px) {
	.housing-weather{
		/* position: relative;
		align-self: center; */
	}
	.dashPage-holders{
		padding-left: 0px;
	}
 } 